/*----SITE-WIDE ELEMENTS----*/
body  {
  background-image: url('./images/abstract.png');
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, span {
  margin: auto;
  font-style: normal;
  font-size: 20px
  font-family: cursive;
  color: white;
  text-align: left;
  text-decoration: none;
}

h4 {
  font-family:serif;
  font-size: 1em
}

header  {
    width: 50%;
    margin: 4em auto;
    padding: 30px;
    position: relative;
    z-index: 1;
    border: 5px double #;
    text-align: center;
}

main  {
  text-align: justify;
  margin: 10em 0;
}

.container {
    width: 800px;
    height: 200px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#left-box {
    float: left;
    width: 180px;
    height: 160px;
}
#right-box{
    float: right;
    width: 180px;
    height: 160px;
    margin-left: 20px;
}

h1 {
    color: white;
}

footer {
  text-align: center;
  font-sizeL: .75em;
  margin-top: 20em;
}
