/*----SITE-WIDE ELEMENTS----*/
body  {
  background-image: url('./images/abstract.png');
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, span {
  margin: 0;
  font-family: cursive;
  color: white;
  text-align: center;
  text-decoration: none;
}

h4 {
  font-family: serif;
  font-size: 1em;
}

/* LAYOUT AREAS: */

.container{
  background-color:#F9CCAC;
  width: 600px;
  margin: auto;
  padding:20px;
  border: 1px solid black;
}

.main-container {
  width: 60%
  max-width: 700px;
  margin: 3em auto;
  padding: 3em;
  text-decoration: none;
  background-color: #E0876A;
  border-right: 15px solid #F9CCAC;
  border-bottom: 15px solid #F9CCAC;
}
header  {
  text-decoration: none;
}

main  {
  text-align: justify;
  margin 3em 0;
}

footer {
  text-align: center;
  font-sizeL .75em;
  margin-top: 3em;
}

/* LAYOUT PIECES: */

/*Site Information*/
.site-heading {
  width: 50%;
  margin:4em auto;
  padding: 30px;
  position: relative;
  z-index: 1;

  border: 5px double salmon;

  text-align: center;
}

#site-title {
  margin:.5em;
  line-height: 1em;
  font-size: 3em;
  text-decoration: none;
}

#site-slogan {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.site-logo {
  margin: auto;
  margin-top: -60px;
  display: block;
  position: relative;
  z-index: 2;
}
